Source: yc-el
Section: lisp
Priority: optional
Maintainer: Yukiharu YABUKI <yyabuki@debian.org>
Build-Depends: debhelper (>= 7.0.0)
Standards-Version: 3.9.6

Package: yc-el
Architecture: any
Depends: emacs25-nox | emacs25 | emacs24 | emacs23 | emacs21 | xemacs21-mule | xemacs21-mule-canna-wnn | xemacs21-gnome-mule-canna-wnn | xemacs21-gnome-mule | emacs-snapshot, ${shlibs:Depends}, ${misc:Depends}
Suggests: canna
Description: Yet another Canna client for Emacsen
 Canna client for emacs21 or xemacs with MULE support.
 yc.el is implemented in pure elisp, allowing use of Canna on
 emacsen without direct support for Canna.
 .
 Canna is a Japanese input method.

Package: yc-el-dbgsym
Architecture: all
Depends: emacs25-nox | emacs25 | emacs24 | emacs23 | emacs21 | xemacs21-mule | xemacs21-mule-canna-wnn | xemacs21-gnome-mule-canna-wnn | xemacs21-gnome-mule | emacs-snapshot, ${shlibs:Depends}, ${misc:Depends}
Description: Debug package:Yet another Canna client for Emacsen
 This is yc-el debug package. You might wonder that why yc-el
 has debug package.
 Some Emacs can not communicate with canna domain soket.
 icanna.c helps comminucating with canna domain socket.
